body {
  background: #222;
  margin: 0rem;
  min-height: 100vh;
  font-family: Futura, sans-serif;
}

p {
  text-align: left;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  padding: 1vw;
}

/* Background */
#canvas{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navigation bar */
.navbar {
  flex: 0;
  background-color: rgb(49, 49, 49);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
  z-index: 999;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  opacity: 95%;
  margin-bottom: auto;
  font-weight: bold;
}

/* Links inside the navbar */
.navbar a {
  align-items: flex-start;
  display: block;
  color: #f2f2f2;
  padding: 0.6rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.navbar a:hover {
  background: rgb(199, 187, 255);
  /* background: rgb(214, 205, 255); */
  color: white;
  height: 100%;
}

.currentpage {
  background-color: rgba(199, 187, 255, 0.861);
  color: white;
}

/* Main content */
#homecontent {
  min-height: 100vh;
  width: 100vw;
  color: #fff;
  text-transform: uppercase;
  font-size: 8vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#homecontent h1 {
  opacity: 0.9;
  margin: 0;
}

.homeimages {
  display: flex;
  justify-content: center;
  gap: 4vw;
  width: 100%
}

.homeimages img {
  width: 15vw;
}

/* About me */
.aboutme {
  padding: 4vw;
  color: white;
  text-align: left;
  font-size: 2.5vmin;
  margin-top: 3rem;
}

.aboutmesection {
  padding-inline: 1vw;
  color: white;
  text-align: left;
  font-size: 2.5vmin;
  background-color: rgb(51, 50, 50);
  opacity: 95%;
  height: 100%;
  border-radius: 15px;
}

.aboutmesection h1{
  text-align: center;
}

.aboutmesection img {
  float: right;
  width: 25vw;
}

/* Skills */
.skills {
  padding: 4vw;
  color: white;
  text-align: left;
  margin-top: 3rem;
}

.skillsection h1{
  text-align: center;
}

.skillsection {
  padding-inline: 1vw;
  color: white;
  text-align: left;
  font-size: 2.5vmin;
  background-color: rgb(51, 50, 50);
  opacity: 95%;
  height: 100%;
  border-radius: 15px;
}

.skillsection img{
  float: right;
  position: relative;
  width: 40vw;
}

/* Projects */
.projects {
  padding: 4vw;
  color: white;
  text-align: left;
  font-size: clamp(40px, 6vw, 60px);
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 3rem;
}

.projects h1 {
  text-align: center;
}

.project {
  padding-inline: 1vw;
  color: white;
  text-align: left;
  font-size: 2.5vmin;
  background-color: rgb(51, 50, 50);
  opacity: 95%;
  height: 100%;
  border-radius: 15px;

}

.project p {
  padding: 1vw;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

.project a:link{
  color: white;
}
.project a:visited{
  color: white;
}

.project a:hover{
  color: rgb(199, 187, 255);
}

.project img {
  justify-content: left;
  width: 10vw;
  float: left;
  padding: 1vw;
  height: 100%;
}

